{% extends 'base.html' %} {% block body %} 

<h1> Vertical Tank Maintenance </h1>
<hr />
<h2> Welcome to VTM! </h2>

<figure>
    <a href="../static/Images/above_ground_vertical_tanks.jpg">
        <img src="../static/Images/above_ground_vertical_tanks.jpg" alt="Vertical Tanks">
    </a>
    <figcaption class="caption"> Vertical Tanks </figcaption>
</figure>
<br />

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. 
    Sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit. Et netus et malesuada fames ac. 
    At erat pellentesque adipiscing commodo elit. Aliquam purus sit amet luctus venenatis. 
    Adipiscing elit duis tristique sollicitudin nibh sit amet. Luctus accumsan tortor posuere ac ut consequat semper viverra nam. 
    Malesuada proin libero nunc consequat interdum. At varius vel pharetra vel turpis. Amet purus gravida quis blandit turpis cursus. 
    Ultrices gravida dictum fusce ut placerat. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. 
    Viverra mauris in aliquam sem. Amet nulla facilisi morbi tempus. Venenatis urna cursus eget nunc scelerisque. 
    Sed enim ut sem viverra. Ac feugiat sed lectus vestibulum mattis ullamcorper. Congue mauris rhoncus aenean vel elit.
    <br />
    <br />
    Cras sed felis eget velit aliquet sagittis id. Vitae sapien pellentesque habitant morbi tristique. 
    Ipsum dolor sit amet consectetur adipiscing. At in tellus integer feugiat scelerisque varius morbi enim nunc. 
    Etiam non quam lacus suspendisse faucibus interdum. Curabitur vitae nunc sed velit. 
    Non curabitur gravida arcu ac tortor dignissim. Vitae congue eu consequat ac felis donec et. 
    Ultrices dui sapien eget mi proin. Adipiscing at in tellus integer feugiat scelerisque varius morbi enim. 
    Tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. In ante metus dictum at tempor commodo ullamcorper a lacus.

</p>

<hr />
{% endblock %}